@{
    ViewBag.Title = "Home Page";
}

<div dir="rtl">
    <div class="jumbotron">
        <h1 style="text-align:center" dir="ltr">Need Help?</h1>
        <p style="text-align:right">את האתר שלנו בנינו כפיתרון לבעיה אישית: הרצון לתרום לקהילה ולהתנדב מול הקושי למצוא מקום להתנדב בו באופן ספונטני. </p>
        <p style="text-align:right">רצינו לאגד למקום אחד אופציות התנדבות שונות, כך שכל אחד או אחת יוכלו למצוא את הפעילות המתאימה להם.</p>
        <p style="text-align:right">בנוסף, האתר מקל על אירגוני התנדבות שונים לגייס מתנדבים לאירועים שונים.</p>
        <p style="text-align:right">אנו מקווים שאתר זה יגרום לאנשים רבים, שבעבר נתקלו בבעיות דומות , לתרום מזמנם לטובת אחרים.</p>
        <center><p><a href="ActivityModels"  class=" btn btn-primary btn-lg">בא לי לעזור &raquo;</a></p></center>

    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/AntonPic.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>אנטון אולשנצקי</h2>
                <p>Bla bla bla ~ Wheres the Pizza? ~ Bla bla bla</p>
                <p><a class="btn btn-default" href="#" role="button">לפרטים &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/NoaPic.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>נועה אבן צור</h2>
                <p>Bla bla bla ~ I love Sergey ~ Bla bla bla</p>
                <p><a class="btn btn-default" href="#" role="button">לפרטים &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="~/Images/NuphPic.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>נופר פיאנקו</h2>
                <p>Bla bla bla ~ Angular ~ Bla bla bla</p>
                <p><a class="btn btn-default" href="#" role="button">לפרטים &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</div>