body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(../Images/Wallpapers/orange5.jpg);
    margin:0;
    height: 100%;
    width: 100%;
    background-size:100% inherit;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
img#bgimage {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../Images/Wallpapers/orange5.jpg) no-repeat;
    background-size: cover; 
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.my_wrapper {
    display: grid;
    grid-gap: 10px;
        grid-template-columns: 300px 300px 300px;
        background-color: #fff;
        color: #b6ff00;
    }
.my_box {
        background-color: #ff0000;
        color: #000000;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }
.columnA {
        grid-column: 1 ;
        grid-row: 1 ;
    }
.columnB {
        grid-column: 2;
        grid-row: 1;
    }

.vcenterdiv {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.divOpacity {
    background: rgba(255, 255, 102, 0.5);
    -pie-background:  rgba(255, 255, 102, 0.5);
    behavior: url(PIE.htc);
}

.no-opacity {
    background: rgba(255, 255, 102, 1.0);
    -pie-background:  rgba(255, 255, 102, 1.0);
    behavior: url(PIE.htc);
}
