@{
    ViewBag.Title = "Organizations";
}
@section scripts {
    <script src="~/App/Organization/App.js"></script>
    <script src="~/App/Organization/ViewModels/RootViewModel.js"></script>
    <script src="~/App/Organization/ViewModels/CustomerHomeViewModel.js"></script>
    <script src="~/App/Organization/ViewModels/CustomerListViewModel.js"></script>
    <script src="~/App/Organization/ViewModels/CustomerViewModel.js"></script>
}
@section jsCode {
    angular.bootstrap(document.getElementById("customer"), ['customer']);
}

<div ng-non-bindable>
    <div id="customer" data-ng-controller="rootViewModel">
        <div>
            Currently on Organization Page.
        </div>
        <hr />
        <div ng-view></div>
    </div>
</div>
