<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://need-help.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>need-help.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>need-help</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$need-help</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="needHelp.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="DRIVER=SQL Server Native Client 11.0;SERVER=tcp:need-help.database.windows.net,1433;UID=needHelpAdmin@need-help;APP=Microsoft® Visual Studio® 2013;WSID=DESKTOP-HLBJ2IP;DATABASE=needHelp;Encrypt=yes" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="needHelp.Models.ApplicationDbContext, needHelp" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:need-help.database.windows.net,1433;Database=needHelp;User ID=needHelpAdmin@need-help;Password=neeDs123;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:need-help.database.windows.net,1433;Database=needHelp;User ID=needHelpAdmin@need-help;Password=neeDs123;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)needHelp.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>DRIVER=SQL Server Native Client 11.0;SERVER=tcp:need-help.database.windows.net,1433;UID=needHelpAdmin@need-help;APP=Microsoft® Visual Studio® 2013;WSID=DESKTOP-HLBJ2IP;DATABASE=needHelp;Encrypt=yes</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="needHelp.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>